:root {
	--color-body: #b6b6b6;
	--color-heading: #5062df;
	--color-bg: #799cce;
	--color-container: white;
	--color-container-shadow: rgba(98, 126, 168, 0.75);
	--color-card-hover: #eaeaea;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

*{
	/* border: 1px solid; */
}

.model {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.model__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.model__box {
	position: relative;
	width: 863px;
	height: 544px;
	margin: 0 10%;
	padding: 50px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #030843;
	cursor: auto;
}

.modal__nft__box {
	position: relative;
	width: 386px !important;
	height: 628px;
	margin: 0 10%;
	padding: 20px 80px 80px 20px;
	/* TRBL */
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #030843;
	cursor: auto;
}


.model__close {
	position: absolute;
	color: #ffffff;
	width: 20px;
	height: 20px;
	right: 12px;
	top: 12px;
}

.card_container {
	/* width: 100%; */
	max-width: 40rem;
	/* margin: 10rem auto; */
	/* background-color: var(--color-container); */
	/* box-shadow: 0.5rem 0.5rem 1rem 0.5rem var(--color-container-shadow); */
	background: linear-gradient(
		180deg,
		#071141 0%,
		#102275 45.31%,
		#091038 83.33%,
		#14215e 100%
	);
	/* border-radius: 0.25rem; */
	display: flex;
	padding: 2rem 2rem 0rem 2rem;
}

.set__paragraph{
	padding-top: 1rem !important;
}


.ImageBoarder{
	/* border-color: linear-gradient(152.78deg, #FFBBF8 0%, #BEFFFB 100%); */
	background: linear-gradient(152.78deg, #FFBBF8 0%, #BEFFFB 100%);
	border: solid 5px transparent ;
	border-radius: 10px;
	height: 250px;
	width: 250px;
	margin: 0.5rem 2rem 0rem;

}

.card__nft__title {
	width: 94px;
	height: 30px;
	padding: 5px 16px;
	background: linear-gradient(152.78deg, #FFBBF8 0%, #BEFFFB 100%);
	text-transform: uppercase;
	border-radius: 5px;
	border: 2px solid #ffffff;
	color: #141416;
	box-sizing: border-box;
}

.card__description{
	max-height: 100px !important;
}


.view_nft_footer_bottom_tag{
	position: absolute;
	color: white !important;
	top:275px;
}

.view_nft_footer_nft_top_tag {
	/* position: absolute; */
	height: 24px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

.card__what{

}

.model-nft-container{

}

.card {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 237px;
	height: 342px;
	cursor: pointer;
	border-radius: 12px 12px 0px 0px;
	padding: 1rem;
	background: #FCFCFD;
}

/* .card:hover {
	background-color: var(--color-card-hover);
} */

.card__title,
.card__footer {
	text-align: center;
	font-weight: bold;
  border-radius: 12px;
  text-align: left;
}

.card__img {
	text-align: center;
}

.card__img img {
	width: 213px;
	height: 219px;
  position: relative;
}

.card__title {
  /* position: absolute; */
	width: 94px;
	height: 30px;
	background: #e6e8ec;
	text-transform: uppercase;
	border-radius: 5px;
  border: 2px solid #FFFFFF;
	left: 11px;
	top: 413px;
  color: #141416;
}

.card__text {
	font-size: 1rem;
	text-align: center;
	max-width: 16rem;
}

.card__footer {
  height: 90px;
  width: 237px;
  border: 1px solid #E6E8EC;
	background-color: #E6E8EC;
  color: #141416;
	border-radius: 0px 12px 12px 12px;
}

.card__footer span{
	font-size: 1rem;
	font-weight: 500;
  display: block;
}

@media (max-width: 992px) {
	.card_container {
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		max-width: calc(30rem - 1px);
	}
}
